.menu {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0px 20px;
}

.menu-action {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: flex-start;
  text-align: left !important;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.instructions {
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-self: center;
}

.instructions h1,
.instructions h3,
.instructions ol {
  margin: 0;
  margin-bottom: 10px;
}

.instructions h2 {
  margin: 0;
  margin-bottom: 30px;
}