.lobby-form {
  max-width: 800px; 
  margin: auto;
  margin-top: 50px;
  background-color: rgb(159, 95, 159);
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  grid-gap: 16px;
  width: 200%; 
  height: 400px; 
}

.vertical-line {
  background-color: #fff; 
  height: 100%;
}

.lobby-heading {
  margin-bottom: 10px;
  text-align: left;
}

.lobby-info {
  margin-bottom: 10px;
}

.buttons-container {
  /* grid-column: 3;  */
  display: flex;
  justify-content: flex-end;
  align-items: end; 
  margin-top: 20px;
}


.start-button {
  margin-right: 10px;
  justify-content: end;
}

.exit-button {
  background-color: white;
  color: rgb(159, 95, 159);
}
